<div class="card">

<p>
myprogress works!{{type}}
</p>

<div class="networth" >
  <span class="networth-left">
<p>{{label}} | {{networth}}.
<span class="small">{{decimalpart}}</span></p>
  </span>
  <span class="networth-right">

      
<mat-select [(value)]="networth"  #food placeholder="Favorite food" (selectionChange) = "changefood($event,food.value)" >
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>


  
 
</span>
</div>
<span *ngIf = "type==1;then condition1 else condition2">Condition is valid.</span>
   <ng-template #condition1>
     <mat-progress-bar mode="determinate" class="orange" color="warn"  [value]="networth" >
    </mat-progress-bar></ng-template>
   <ng-template #condition2>
     <mat-progress-bar mode="determinate"   [value]="networth" >
    </mat-progress-bar></ng-template>

</div>
